@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Handlee&family=Mouse+Memoirs&display=swap');






html {
  overflow: auto;
}





/* all_site */
* {
  font-family: 'Edu TAS Beginner', cursive;
  font-family: 'Handlee', cursive;
  font-family: 'Mouse Memoirs', sans-serif;
}
/* all_site */





/* navbar */
.topbar {
    list-style-type: none; 
    margin: 0px;
    padding: 0px;  
    overflow: hidden;
    background-color: rgb(167, 155, 178);
    border: 8px solid rgb(238, 222, 222);
    text-align: center;
    bottom:0;
    width:100%;
    height:70px; 
}
.list_topbar {
    float: right; 
}
.list_topbar .link_topbar {
    font-size: 16px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 8px;
    text-decoration: none;
}
.list_topbar .link_topbar:hover {
    background-color: rgb(5, 4, 4);
    cursor: pointer;
    text-decoration: none;
}
.img_topbar {
    width: 60px;
    height: auto;
    display: block;
}
/* navbar */





/* home_page */
.div_img_home {
  width: 100%; 
  height: 100%;
  background-color: #f1f1f1;
  cursor: pointer;
}
.img_home {
  /* width: 100%; */
  position: absolute;
}
.div_title_home {
  display:  block;
  padding: 50px 50px;
  margin: 8px 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  color:  rgb(246, 246, 255);
  position: absolute;
}
/* home_page */





/* footer */
.footer_bar {
  list-style-type: none;
  margin: 0px;
  padding: 0px; 
  overflow: hidden;
  background-color: rgb(167, 155, 178);
  border: 8px solid rgb(238, 222, 222);
  text-align: center;
  position: fixed;
  bottom:0;
  width:100%;
  height:70px; 
}
.list_footer {
  float: right;
}
.list_footer .link_footer {
  font-size: 16px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 8px;
  text-decoration: none;
}
.list_footer .link_footer:hover {
  background-color: rgb(5, 4, 4);
  cursor: pointer;
  text-decoration: none;
}
/* footer */





/* contact_page */
.div_contact_background{
  width: 100%; 
  height: 100%;
  background-color: #f1f1f1;
  cursor: pointer;
}
.img_contact_background{
  /* width: 100%; */
  position: absolute;
}
.contact {
  display:  block;
  padding: 50px 50px;
  margin: 8px 0;
  width: 100%;
  box-sizing: border-box;
  text-align: justify;
  color:  rgb(5, 5, 6);
  position: absolute;
}
#color_title_contact{
  color: rgb(230, 236, 236);
}
.title_of_contact {
  font-size: 24px;
  color: rgb(157, 133, 176);
}
.contact-img {
  height: 20px;
  width: 20px;
  float: left;
  margin-right: 10px;
  clear: both;
}
.phone-img {
  height: 15px;
  width: 15px;
  float: left;
   margin-right: 10px; 
  clear: both; 
}
.whats-img {
  height: 15px;
  width: 15px;
  float: left;
  margin-right: 10px;
  clear: both;
}
.mail-img {
  height: 18px;
  width: 18px;
  float: left;
  margin-right: 10px;
  clear: both;
}
.clock-img {
  height: 20px;
  width: 20px;
  float: left;
  margin-right: 10px; 
  clear: both;
}
.paragraph_contact {
  font-size: 14px;
  margin-left: 0px;
  overflow:auto;
  display:block;
}
/* contact_page */





/* gallery_page */
.gallery_img_div {
  padding: 50px 50px;
  background-color: #f1f1f1;
  cursor: pointer;
}
/* .gallery_image {
  width: 100%;
} */
/* gallery_page */





/* policy_page */
.div_info{
  display:  block;
  padding: 50px 50px;
  margin: 8px 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  color:  rgb(5, 5, 6);
  position: absolute;
}
.div_img_policy {
  width: 100%; 
  height: 100%;
  background-color: #f1f1f1;
  cursor: pointer;
}
.img_policy {
  /* width: 100%; */
  position: absolute;
}
/* policy_page */





/* terms_page */
.div_img_terms {
  width: 100%; 
  height: 100%;
  background-color: #f1f1f1;
  cursor: pointer;
}
.img_terms {
  /* width: 100%; */
  position: absolute;
}
.terms_info {
  display:  block;
  padding: 50px 50px;
  margin: 8px 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  color:  rgb(5, 5, 6);
  position: absolute;
}
/* terms_page */





/* book_now_page */
.div_book_now {
  display:  block;
  padding: 50px 50px;
  margin: 8px 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  color:  rgb(5, 5, 6);
  position: absolute;
 }
 .heading_book_now {
  color:  rgb(157, 133, 176) ;
  font-size: 16px;
}
.label_book_now {
  font-size: 12px;
}
.textarea {
  resize: horizontal;
}
.img_div_book_now {
  width: 100%; 
  height: 100%;
  background-color: #f1f1f1;
  cursor: pointer;
} 
.img_book_now {
  /* width: 100%; */
  position: absolute;
}
/* book_now_page */





/* about_page */
.div_img_about {
  width: 100%; 
  height: 100%;
  background-color: #f1f1f1;
  cursor: pointer;
}
.img_about {
  /* width: 100%; */
  position: absolute;
}
.about_info {
  display:  block;
  padding: 50px 50px;
  margin: 8px 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  color:  rgb(5, 5, 6);
  position: absolute;
}
/* about_page */






